*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

$font-family:marine, sans-serif;


body{
    font-family: $font-family;
    display:grid;
    place-items: center;
}

.main-container{
    display:grid;
    //place-items: center;
    width:80%;
    border:5px solid black;
    margin:30px 50px;
    padding:30px 20px;

}

.top-container{
    display:flex;
    justify-content:space-between;
    border:5px solid black;
    margin-bottom:100px;
    padding:30px;
}
.logo-container{

}

.search-container{

}

.country-container{
    display:grid;
    justify-content: center;
    padding:30px;
 
}

.output-container{
    display:flex;
    justify-content: space-evenly;
    text-align: center;

    .output1{
        

    }
    .output2{

    }
    .output3{

    }
}
