* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: marine, sans-serif;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #100F02;
  color: #ECE9D3;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

.main-container {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 30px 50px;
  padding: 30px 20px;
}

@media screen and (max-width: 600px) {
  .main-container {
    width: 100%;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  padding: 30px;
}

@media screen and (max-width: 600px) {
  .top-container {
    display: inline-block;
    margin-top: 10px;
    padding-top: 0px;
    margin-bottom: -20px;
  }
}

.logo-container {
  font-size: 30px;
  font-style: normal;
  color: rgba(236, 233, 211, 0.6);
}

@media screen and (max-width: 800px) {
  .logo-container {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .search-container {
    display: inline-block;
  }
  .search-container input {
    width: 80%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 300px) {
  .search-container input {
    width: 70%;
  }
}

.search-container .search {
  padding: 10px;
  margin-right: 0px;
  outline: none;
}

.search-container input {
  border-radius: 5px 0px 0px 5px;
  font-size: 18px;
  background: #FFFFFF;
}

.search-container input:focus {
  border: 5px solid #F0DE40;
}

.search-container .search-btn {
  padding: 15px;
  cursor: pointer;
  background: #F0DE40;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

.search-container li {
  color: rgba(236, 233, 211, 0.6);
  text-decoration: none;
  font-size: 18px;
}

.country-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  font-size: 2.5em;
}

@media screen and (max-width: 600px) {
  .country-container {
    font-size: 2em;
    display: inline-block;
    text-align: center;
  }
}

.output-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .output-container {
    display: inline-block;
    width: 100%;
  }
  .output-container p {
    font-size: 1.5em;
    padding-top: 5px;
    margin-bottom: 30px;
  }
}

.output-container p {
  font-size: 2.5em;
  color: #F0DE40;
}

.output-container label {
  color: rgba(236, 233, 211, 0.6);
}
/*# sourceMappingURL=styles.css.map */